---
import type { IMenuItem } from '@/lib/types/menuItems';

import MenuHeader from '@/components/MenuHeader.astro';
import { menu } from '@/data/menu';
import { mainMenuImages } from '@/lib/types/menuItems';
import Menu from '@/sections/Menu.astro';
import Promotions from '@/sections/Promotions.astro';
import Reservation from '@/sections/Reservation.astro';
import Slider from '@/sections/Slider.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout title='Mozzabella' description='Mozzabella | Pizzeria Italiana para toda la familia'>
  <main>
    <Slider />
    <Promotions />
    <section id='stickyMenu'>
      <MenuHeader />
      <Menu id='Pizzas' menuItems={menu.Pizzas} />
      <Menu id='Ensaladas' menuItems={menu.Ensaladas} />
      <Menu id='Complementos' menuItems={menu.Complementos} />
      <Menu id='Postres' menuItems={menu.Postres} />
      <Menu id='Bebidas' menuItems={menu.Bebidas} />
    </section>
    <Reservation />
  </main>
</Layout>
