---
import type { SeoProps } from '@/lib/types/seoProps';

import jost from '@fontsource-variable/jost/files/jost-latin-wght-normal.woff2';
import atomic from '/fonts/atomic.woff2';

import { seoConfig } from '@/utils/seoConfig';

interface Props extends SeoProps {}

const {
  title,
  description,
  preload,
  canonical,
  image = seoConfig.image.url
} = Astro.props as Props;

/* const canonicalURL = canonical
  ? new URL(canonical, Astro.site)
  : new URL(Astro.url.pathname, Astro.site); */
---

<title>{title}</title>

<meta charset='utf-8' />
<meta name='description' content={description} />

<!-- <link rel='preload' href={atomic} as='font' type='font/woff2' crossorigin />
<link rel='preload' href={jost} as='font' type='font/woff2' crossorigin />
 -->
{
  preload?.map(({ href, as, type }) => (
    <link rel='preload' href={href} as={as} type={type} crossorigin />
  ))
}

<link rel='canonical' href={canonicalURL} />
<meta name='viewport' content='width=device-width' />
<meta name='theme-color' content={seoConfig.themeColor} />

<meta name='keywords' content={seoConfig.keywords} />

<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:title' content={title} />
<meta name='twitter:description' content={description} />
<meta name='twitter:image' content={new URL(image, Astro.url)} />

<meta name='og:image' content={new URL(image, Astro.url)} />
<meta name='og:title' content={title} />
<meta name='og:description' content={description} />
<meta name='og:url' content={Astro.url} />
<meta name='og:site_name' content={title} />
<meta name='og:type' content='website' />
<meta name='og:locale' content='es_ES' />

<meta name='robots' content='index, follow' />
<meta name='googlebot' content='index, follow' />

<link rel='icon' href='/img/icons/favicon.ico' sizes='32x32' />
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<link rel='apple-touch-icon' href='/img/icons/apple-touch-icon.png' />
<link rel='manifest' href='/app.webmanifest' />
<link rel='sitemap' type='application/xml' href='/sitemap.xml' />
<link rel='robots' href='/robots.txt' />

<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
<meta name='msapplication-config' content='/browserconfig.xml' />
<meta name='google-site-verification' content='__CHANGE__' />

{
  !import.meta.env.DEV && (
    <>
      <script is:inline src='/registerSW.js' />
      <link rel='manifest' href='/manifest.webmanifest' />
    </>
  )
}
